@charset "utf-8";
@import url("style_ingressos.css");
* {
	margin: 0px;
	padding: 0px;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	background-color: #5b37a7;
	height: 100%;
}

.header {
	width: 100%;
	height: auto;
	background-color: #5b37a7;
}

.logo {
	margin: 0 auto;
	width: 300px;
	height: 100px;
}

.menu {
	width: 100%;
	height: auto;
	background-color: #FFFFfF;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
}

.menu ul {
	list-style-type: none;
	padding: 20px;
}

.menu li {
	display: inline;
	padding: 20px;
}

.menu a {
	color: #131313;
	text-decoration: none;
	padding: 10px;
}

.menu a:hover {
	background-color: #5b37a7;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.intro {
	max-width: 960px;
	min-width: 320px;
	height: 700px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.intro img {
	width: 400px;
	height: 700px;
	float: left;
	margin-right: 30px;
}

.intro p {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: white;
	padding-top: 50px;
}

.intro h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	font-weight: 700;
	color: #c9b4f4;
	padding-top: 30px;
}

.footer	{
	width: 100%;
	height: auto;
	position: static;
    bottom: 0;
	background-color: #fb8b7b;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	font-weight: 700;
	color: white;
}

.footer ul {
	list-style-type: none;
}

.footer li {
	display: inline;
	padding-top: 10px;
}

.footer li img {
	width: 15px;
	padding: 2px;
	padding-top: 7px;
}

.footer ol {
	padding-bottom: 7px;
}

.topo {
	right: 0px;
	bottom: 0px;
	width: 100px;
	height: 20px;
	padding: 5px;
	border-top-left-radius: 5px;
	position: fixed;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 11px;
	background-color:#FB8B7B;
	color: white;
}

.topo a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px;
}

.topo a:hover {
	text-decoration: none;
	font-weight: 700;
}